.row {
    font-size: 0;
}

.col {
    width: 33%;
    display: inline-block;
    text-align: center;
}

@media (max-width: 1024) {
    .col {
        width: 16vw;
    }
}

@media (max-width: 800px) {
    .col {
        width: 50vw;
    }
}

@media (max-width: 480px) {
    .col {
        width: 100vw;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p {
    margin: 20px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .container {
        max-width: 90%;
    }
}



