body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    margin-top: 400px;
    margin-left: 400px;
    margin-bottom: 300px;
    margin-right: 300px;

}


.box{
    display: flex;
}

.movie,.movie2,.movie3,.movie4,.movie5{
    width: 200px;
    height: 600px;
    border: 2px solid black;
    margin-bottom: 10px;

}

.container-1{
    width: 700px;
    width: 750px;

}

.column{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}